<!DOCTYPE html>
<html>

    <head>

        <title>Piotrulo Dev</title>
        <link rel="stylesheet" href="style.css" />



    </head>



    <body>
        <header>
            <dev>
                <img class="profile-picture circle" src="rock_4.png" width="150px" height="150px" />
                <h1><b>Legia</b> jebana będzie</h1>
            </dev>
            <span style="color: blueviolet;">Twoj stary developer</span>
            <address>
                <ul>
                    <li><img class="address-icon circle" src="images/phone.png"/><b>Numer tele : 213 769 420</b></li>
                    <li><img class="address-icon circle" src="images/mail.png"/><b>twójstary@gmail.com</b></li>
                    <li><img class="address-icon circle" src="images/birthday-cake.png"/><b>Data urodzenia; 4:20:1969</b></li>
                    <li><img class="address-icon circle" src="images/pin.png"/><b>Miejsce urodzenia: Poczta Polska</b></li>
                </ul>




            </address>

        </header>
    <main>






        <section>
        <h1>Co nie co o mnie</h1>
        <p>
            Miasto zmienia się jak transformers No i kurwa płynie z tym Lecę
            teraz w życiowej formie Nie chuj z niego, jak już to chuj z nim
            Ten z prawilnej tego nie pojmie, bo to kurwa niezły dzik (ta)
            Zresztą chuj z nim, klik klak klik
        </p>
        </section>
        <section>
        <h2>Doświadczenie</h2>
        <ul>
            <li>Król opierdalanie 1998-2022</li>
            <li>Cristal Casino 2019-2022</li>
        </ul>
        </section>
        <section>
        <ul>
            <h2>Języki</h2>
                <li>Angielki</li>
        </ul>
            </section>
        <section>
            <h1>Wykrztałcenie</h1>


            <ul>
                <li>2019 - 2022: <a href="http://www.ue.wroc.pl"> Uniwersytek Enkonomiczny</a> </li>
                <li>2015 - 2018: <a href="https://www.zsme.pl">Technikum Elekttroniczne</a> </li>
            </ul>
        </section>

        <section>
            <h2 >Zainteresowanie</h2>
            <ul class="hobies">
                <li>
                    <img src="images/basketball.png"/>
                    <h3>Granie w lola</h3>
                    <p>
                     Lubie zagrać w lola ale i tak mi nie wychodzi bo ja lamus jestem
                    </p>
                </li>

                <li>
                    <img src="images/music.png"/>
                    <h3>Kurzenie skuna</h3>
                    <P>Lubie co nieco w płyca zainstalować, potem co zjesc a na koniec co przy kompie posiedziec</P>
                </li>

                <li>
                    <img src="images/puzzle.png"/>
                    <h3>Spanie i jedzenie </h3>
                    <p>Lubie pospać do 12 np bo do dobra godzina do wstawania jak by nie było </p>

                </li>
            </ul>

        </section>
    </main>
</body>

</html>